
        {
          box-sizing: border-box;
          background: rgb(189, 230, 189);
          }
        
        #header{
            background-color: rgb(0, 68, 0);
            color: white;
            text-align:center;
            padding: 10px;
        }

      
        #general{
            background-color: rgb(84, 170, 84);
            color: white;
            text-align:center;
            padding: 1px;
            margin-bottom: 45px;
        }
        
        #note{
            color: red;
            margin-top   :25px;
            margin-bottom: 50px;
        }

        .category{
        text-align:center;
        }

        .column{
            float: left;
            width: 25%;
            padding: 10px;
            height: 300px;
        }


        .row:after{
            content: "";
            display: table;
            clear: both;

        }
        
        .title{
            margin-left: 13%;
            margin-top: -15px;
        }

        
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border:3px solid rgb(21, 65, 21);
  background-color: rgb(36, 89, 36);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
